<items>
	<item link="http://www.flashxml.net/3d-stack.html" target="" foto="assets/demo/logo_158x99.png"></item>
	<item link="http://www.flashxml.net/3d-wall.html" target="" foto="assets/demo/3d-stack.jpg"></item>
<item link="http://www.flashxml.net/blur-menu.html" target="" foto="assets/demo/blur-menu.jpg"></item>
	<item link="http://www.flashxml.net/3d-carousel-menu.html" target="" foto="assets/demo/3d-carousel.jpg"></item>
	<item link="http://www.flashxml.net/cover-flow.html" target="" foto="assets/demo/cover-flow.jpg"></item>
	<item link="http://www.flashxml.net/dock-gallery.html" target="" foto="assets/demo/dock-gallery.jpg"></item>
	<item link="http://www.flashxml.net/image-grid.html" target="" foto="assets/demo/image-grid.jpg"></item>	
	<item link="http://www.flashxml.net/image-slider.html" target="" foto="assets/demo/image-slider.jpg"></item>	
	<item link="http://www.flashxml.net/media-slideshow.html" target="" foto="assets/demo/media-slideshow.jpg"></item>	
	<item link="http://www.flashxml.net/mp3-player.html" target="" foto="assets/demo/mp3-player.jpg"></item>	
	<item link="http://www.flashxml.net/news-ticker.html" target="" foto="assets/demo/news-ticker.jpg"></item>	
	<item link="http://www.flashxml.net/page-flip.html" target="" foto="assets/demo/page-flip.jpg"></item>	
	<item link="http://www.flashxml.net/video-player.html" target="" foto="assets/demo/video-player.jpg"></item>
	<item link="http://www.flashxml.net/blur-menu.html" target="" foto="assets/demo/blur-menu.jpg"></item>
	<item link="http://www.flashxml.net/3d-carousel-menu.html" target="" foto="assets/demo/3d-carousel.jpg"></item>
	<item link="http://www.flashxml.net/cover-flow.html" target="" foto="assets/demo/cover-flow.jpg"></item>
	<item link="http://www.flashxml.net/dock-gallery.html" target="" foto="assets/demo/dock-gallery.jpg"></item>
	<item link="http://www.flashxml.net/image-grid.html" target="" foto="assets/demo/image-grid.jpg"></item>	
	<item link="http://www.flashxml.net/image-slider.html" target="" foto="assets/demo/image-slider.jpg"></item>	
	<item link="http://www.flashxml.net/media-slideshow.html" target="" foto="assets/demo/media-slideshow.jpg"></item>	
	<item link="http://www.flashxml.net/mp3-player.html" target="" foto="assets/demo/mp3-player.jpg"></item>	
	<item link="http://www.flashxml.net/news-ticker.html" target="" foto="assets/demo/news-ticker.jpg"></item>	
	<item link="http://www.flashxml.net/page-flip.html" target="" foto="assets/demo/page-flip.jpg"></item>	
	<item link="http://www.flashxml.net/video-player.html" target="" foto="assets/demo/video-player.jpg"></item>
	<item link="http://www.flashxml.net/blur-menu.html" target="" foto="assets/demo/blur-menu.jpg"></item>
	<item link="http://www.flashxml.net/3d-carousel-menu.html" target="" foto="assets/demo/3d-carousel.jpg"></item>
	<item link="http://www.flashxml.net/cover-flow.html" target="" foto="assets/demo/cover-flow.jpg"></item>
	<item link="http://www.flashxml.net/dock-gallery.html" target="" foto="assets/demo/dock-gallery.jpg"></item>
	<item link="http://www.flashxml.net/image-grid.html" target="" foto="assets/demo/image-grid.jpg"></item>	
	<item link="http://www.flashxml.net/image-slider.html" target="" foto="assets/demo/image-slider.jpg"></item>	
	<item link="http://www.flashxml.net/media-slideshow.html" target="" foto="assets/demo/media-slideshow.jpg"></item>	
	<item link="http://www.flashxml.net/mp3-player.html" target="" foto="assets/demo/mp3-player.jpg"></item>	
	<item link="http://www.flashxml.net/news-ticker.html" target="" foto="assets/demo/news-ticker.jpg"></item>	
	<item link="http://www.flashxml.net/page-flip.html" target="" foto="assets/demo/page-flip.jpg"></item>	
	<item link="http://www.flashxml.net/video-player.html" target="" foto="assets/demo/video-player.jpg"></item>
	<item link="http://www.flashxml.net/3d-carousel-menu.html" target="" foto="assets/demo/3d-carousel.jpg"></item>
	<item link="http://www.flashxml.net/cover-flow.html" target="" foto="assets/demo/cover-flow.jpg"></item>
	<item link="http://www.flashxml.net/dock-gallery.html" target="" foto="assets/demo/dock-gallery.jpg"></item>
	<item link="http://www.flashxml.net/image-grid.html" target="" foto="assets/demo/image-grid.jpg"></item>	
	<item link="http://www.flashxml.net/image-slider.html" target="" foto="assets/demo/image-slider.jpg"></item>	
	<item link="http://www.flashxml.net/media-slideshow.html" target="" foto="assets/demo/media-slideshow.jpg"></item>	
	<item link="http://www.flashxml.net/mp3-player.html" target="" foto="assets/demo/mp3-player.jpg"></item>	
	<item link="http://www.flashxml.net/news-ticker.html" target="" foto="assets/demo/news-ticker.jpg"></item>	
	<item link="http://www.flashxml.net/page-flip.html" target="" foto="assets/demo/page-flip.jpg"></item>	
	<item link="http://www.flashxml.net/video-player.html" target="" foto="assets/demo/video-player.jpg"></item>
	<item link="http://www.flashxml.net/blur-menu.html" target="" foto="assets/demo/blur-menu.jpg"></item>
	<item link="http://www.flashxml.net/3d-carousel-menu.html" target="" foto="assets/demo/3d-carousel.jpg"></item>
	<item link="http://www.flashxml.net/cover-flow.html" target="" foto="assets/demo/cover-flow.jpg"></item>
	<item link="http://www.flashxml.net/dock-gallery.html" target="" foto="assets/demo/dock-gallery.jpg"></item>
	<item link="http://www.flashxml.net/image-grid.html" target="" foto="assets/demo/image-grid.jpg"></item>	
	<item link="http://www.flashxml.net/image-slider.html" target="" foto="assets/demo/image-slider.jpg"></item>	
	<item link="http://www.flashxml.net/media-slideshow.html" target="" foto="assets/demo/media-slideshow.jpg"></item>	
	<item link="http://www.flashxml.net/mp3-player.html" target="" foto="assets/demo/mp3-player.jpg"></item>	
	<item link="http://www.flashxml.net/news-ticker.html" target="" foto="assets/demo/news-ticker.jpg"></item>	
	<item link="http://www.flashxml.net/page-flip.html" target="" foto="assets/demo/page-flip.jpg"></item>	
	<item link="http://www.flashxml.net/video-player.html" target="" foto="assets/demo/video-player.jpg"></item>
	<item link="http://www.flashxml.net/blur-menu.html" target="" foto="assets/demo/blur-menu.jpg"></item>
	<item link="http://www.flashxml.net/3d-carousel-menu.html" target="" foto="assets/demo/3d-carousel.jpg"></item>
	<item link="http://www.flashxml.net/cover-flow.html" target="" foto="assets/demo/cover-flow.jpg"></item>
	<item link="http://www.flashxml.net/dock-gallery.html" target="" foto="assets/demo/dock-gallery.jpg"></item>
	<item link="http://www.flashxml.net/image-grid.html" target="" foto="assets/demo/image-grid.jpg"></item>	
	<item link="http://www.flashxml.net/image-slider.html" target="" foto="assets/demo/image-slider.jpg"></item>	
	<item link="http://www.flashxml.net/media-slideshow.html" target="" foto="assets/demo/media-slideshow.jpg"></item>	
	<item link="http://www.flashxml.net/mp3-player.html" target="" foto="assets/demo/mp3-player.jpg"></item>	
	<item link="http://www.flashxml.net/news-ticker.html" target="" foto="assets/demo/news-ticker.jpg"></item>	
	<item link="http://www.flashxml.net/page-flip.html" target="" foto="assets/demo/page-flip.jpg"></item>	
	<item link="http://www.flashxml.net/video-player.html" target="" foto="assets/demo/video-player.jpg"></item>
</items>